.CopyRight {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 1085px;
    background: #EEF0EF;
}

.CopyRight p {
font-family: 'Inter var', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #D2D6D4;
text-align: center;
}