.StartPage {
    position: relative;
    width: 1440px;
    height: 2377px;
    background: #F5F7F6;
    color: #000000;
}
/* Women */
.WomenPhoto {
    position: absolute;
    width: 650px;
    height: 1091px;
    left: 60px;
    top: 122px;
    background: url('../photos/StartPage/WomenPhoto1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.WomenPhoto:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.WomenText {
    position: absolute;
    width: 85px;
    height: 29px;
    left: 61px;
    top: 819px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
/* Sale Women */
.SaleWomenPhoto {
    position: absolute;
    height: 417px;
    left: 27.43%;
    right: 50.69%;
    top: 741px;
    background: url('../photos/StartPage/WomenPhoto2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.SaleWomenPhoto:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.SaleWomenText1 {
    position: absolute;
    height: 29px;
    left: 295px;
    right: 884px;
    top: 1188px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #E01A1A;
}

.SaleWomenText2 {
    position: absolute;
    height: 29px;
    left: 455px;
    right: 884px;
    top: 1188px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

/* Men */

.MenPhoto {
    position: absolute;
    width: 650px;
    height: 1091px;
    left: 730px;
    top: 222px;
    background: url('../photos/StartPage/MenPhoto1.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.MenPhoto:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.MenText {
    position: absolute;
    width: 50px;
    height: 29px;
    left: 1330px;
    top: 919px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
/* Sale Men*/
.SaleMenPhoto {
    position: absolute;
    width: 315px;
    height: 418px;
    left: 730px;
    top: 840px;
    background: url('../photos/StartPage/MenPhoto2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.SaleMenPhoto:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.SaleMenText1 {
    position: absolute;
    height: 29px;
    left: 822px;
    right: 377px;
    top: 1288px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #E01A1A;
}

.SaleMenText2 {
    position: absolute;
    height: 29px;
    left: 952px;
    right: 377px;
    top: 1288px;
    font-family: 'Inter var', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}

/* Bottom Photo */

.MenBottomPhoto {
    position: absolute;
    width: 982px;
    height: 378px;
    left: 61px;
    top: 1457px;
    background: url('../photos/StartPage/MenPhoto3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.MenBottomPhoto:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.WomenBottomPhoto {
    position: absolute;
    width: 982px;
    height: 378px;
    left: 398px;
    top: 1789px;
    background: url('../photos/StartPage/WomenPhoto3.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.WomenBottomPhoto:hover {
    opacity: 0.6;
    transition: 0.3s;
}

@media only screen and (max-width: 1024px) {
    .StartPage {
        width:1024px;
    }
    .WomenPhoto {
        width: 46.5%;
        height: 46.5%;
    }
    .WomenText {
        top: 620px;
        font-size: 18px;
    }
    .SaleWomenPhoto {
       height:300px;
       width: 400px;
       top: 580px;
       left: 310px;
    }
    .SaleWomenText1 {
        top: 900px;
        left: 315px;
        font-size: 18px;
    }
    .SaleWomenText2 {
        top: 900px;
        left: 360px;
        font-size: 18px;
    }
    .MenPhoto {
        width: 46.5%;
        height: 46.5%;
        left: 540px;
    }
    .MenText {
        top: 720px;
        left: 970px;
        font-size: 18px;
    }
    .SaleMenPhoto {
        top: 680px;
        left: 550px;
        height:290px;
        width: 390px;
    }
    .SaleMenText1 {
        top: 990px;
        left: 630px;
        font-size: 18px;
    }
    .SaleMenText2 {
        top: 990px;
        left: 675px;
        font-size: 18px;
    }
    .MenBottomPhoto {
        width: 65%;
        top: 1100px;
    }


    .WomenBottomPhoto {
        width: 65%;
        top: 1330px;
        left: 310px
    }
  }
